.header{
    justify-content: space-around;
    max-width: 144rem;
    margin-left: auto;
    margin-right: auto;
}
.right{
    display: none;
}
.modo{
    display: inherit;
    width: 9.7rem;
    height: 2.6rem;
    font-size: 1.8rem;
}
.modo select{
    border: none;
    background: none;
}
.direccion{
    display: inherit;
    width: 19.6rem;
}
.direccion svg{
    width: 2.2rem;
    height: 2.2rem;
}
.direccion span{
    font-size: 1.8rem;
    padding-left: 1rem;
}